library/__pycache__/__init__.cpython-39.pyc
library/__pycache__/__init__.cpython-313.pyc
library/__pycache__/cdb.cpython-313.pyc
library/__pycache__/genlib.cpython-39.pyc
library/__pycache__/genlib.cpython-313.pyc
chroma/chroma.sqlite3
chroma/9a4b3304-4714-45df-9dcc-55e6de9ec6e3/data_level0.bin
chroma/9a4b3304-4714-45df-9dcc-55e6de9ec6e3/header.bin
chroma/9a4b3304-4714-45df-9dcc-55e6de9ec6e3/length.bin
chroma/9a4b3304-4714-45df-9dcc-55e6de9ec6e3/link_lists.bin
